.card {
  box-shadow: 1px 1px 5px grey !important;
}
.content {
  padding: 20px !important;
}
.card-heading {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 30px;
}
.card-sub-heading {
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0px;
}
.card-chart {
  width: inherit;
  padding: 0px;
}
